/* BODY */
body {
    font-family: 'Cormorant Garamond', serif;

    background:
        radial-gradient(circle at center, rgba(180,140,80,0.25), transparent 60%),
        linear-gradient(to right, #3a3a3a, #4a4a4a);

    color: #f5f1e8;

    overflow-y: auto;   /* scroll vertical autorisé */
    overflow-x: hidden; /* pas de scroll horizontal */

    min-height: 100vh;
}
